PUBLIC_CACHE_DURATION=6
STORYGRAPH_USERNAME=""
STORYGRAPH_PASSWORD=""
STEAM_API_KEY=""
LAST_FM_API_KEY=""
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
STATS_PAGE_SECRET=""
RATE_LIMIT=20
RATE_LIMIT_BLOCK_DURATION=5
PORT=3000